# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual envs
.venv/
venv/

# Env files
.env
.env.*

# Artifacts & data
server/artifacts/
training/data/
notebooks/.ipynb_checkpoints/

# OS/editor cruft
.DS_Store
Thumbs.db
.vscode/
.idea/

service-account.json
*.pem
*.p12
